@font-face{
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"),
url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}
body{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: medium;
}
h1{
	font-family: "Emblema One",sans-serif;
	font-size: 150%; 
}
h2{
	font-size: 1.2em;
	font-weight: normal;
}
blockquote{
	font-style: italic;
	background-color: rgb(80%,40%,0%);
}
